# Jessica replication attempts

## TO DO
Install:
- plotly.graph_objs

- improve figure 4!!!

In [2]:
import pandas as pd
import numpy as np
import numpy.linalg as LA
import statsmodels.api as sm
import geopandas as geo
import plotly.graph_objs as go #not installed I think
import matplotlib.pyplot as plt
import scipy.optimize as optimize
import statsmodels.formula.api as smf
from scipy.optimize import lsq_linear

Read .dta files with pyreadstat:

In [1]:
import pyreadstat

In [7]:
dtafile = './dataset/Pinotti-replication/dataset.dta'
df, meta = pyreadstat.read_dta(dtafile) #define dataframe

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.head()

,reg,region,year,gdppercap,pop,gdp,vatot,vaag,vain,vams,...,robkidext,kwpop,ext,fire,kidnap,rob,smug,drug,theft,orgcrime
0,1.0,PIE,1951.0,4256.403320,3519000.0,14978.282987,NaN,NaN,NaN,NaN,...,NaN,1078.999756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,PIE,1952.0,4238.614746,3520000.0,14919.923358,NaN,NaN,NaN,NaN,...,NaN,1141.761353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,PIE,1953.0,4504.506348,3546000.0,15972.978975,NaN,NaN,NaN,NaN,...,NaN,1183.305176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,PIE,1954.0,4520.441895,3576000.0,16165.100942,NaN,NaN,NaN,NaN,...,NaN,1289.149902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,PIE,1955.0,4858.409180,3615000.0,17563.149767,NaN,NaN,NaN,NaN,...,NaN,1380.636230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Read .dta files with PANDAS:

In [5]:
dtafile = './dataset/Pinotti-replication/dataset.dta'
dtafile

'./dataset/Pinotti-replication/dataset.dta'

In [7]:
df = pd.read_stata(dtafile)
df.head()

,reg,region,year,gdppercap,pop,gdp,vatot,vaag,vain,vams,...,robkidext,kwpop,ext,fire,kidnap,rob,smug,drug,theft,orgcrime
0,1.0,PIE,1951.0,4256.403320,3519000.0,14978.282987,NaN,NaN,NaN,NaN,...,NaN,1078.999756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,PIE,1952.0,4238.614746,3520000.0,14919.923358,NaN,NaN,NaN,NaN,...,NaN,1141.761353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,PIE,1953.0,4504.506348,3546000.0,15972.978975,NaN,NaN,NaN,NaN,...,NaN,1183.305176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,PIE,1954.0,4520.441895,3576000.0,16165.100942,NaN,NaN,NaN,NaN,...,NaN,1289.149902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,PIE,1955.0,4858.409180,3615000.0,17563.149767,NaN,NaN,NaN,NaN,...,NaN,1380.636230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN